/*单独的列表，数据表，tab等的样式*/


/*列表样式1 列表搜索栏样式*/
.InfoListSearch{width:100%;text-align:left;font-size: 13px;margin: auto;}
.InfoListSearch ul{ line-height:25px; list-style:none;width:100%;}
.InfoListSearch li{margin-left:5px;margin-right:5px; display:inline-block;margin-bottom:10px;vertical-align: middle;}

/*列表样式1 操作按钮*/
.InfoListOption{line-height:32px;height:32px;border:1px solid #DADADA;background-color:#f3f3f3;margin:0px auto 5px;width:99.8%;}
.InfoListOption a.btnoperation{margin: 6px 10px;vertical-align: top;}
.InfoListOption input[type='radio']{ vertical-align:-2px;}

/*列表样式1*/
div.tableWarp{}
.comTable{width:100%;margin:0 auto;background:#fff;table-layout:fixed;border:1px solid #c3ced5;border-width:1px 0 0 1px}
.comTable td{vertical-align:middle;padding:5px;border:1px solid #c3ced5;border-width:0 1px 1px 0;text-align:center;line-height:16px}
.comTable td a:link{}
.comTable td a:visited{}
.comTable td a:hover{}
.comTable td a:active{}
.comTable tr.select td{background:#e6e6e6}
.comTable td.t10{width:30px}
.comTable tr.InfoListTit{ width:100%;margin:5px auto 0}
.comTable tr.InfoListTit td{background:#d9e8f3;font-weight:bold;line-height:20px;border-right:1px solid #c3ced5;}
.comTable tr.InfoListTit td:last-child{border-right:1px solid #c3ced5;}

/* 排序表格样式 蓝色 */
table.tablesorter{width:100%;margin:0 auto;background:#fff;table-layout:fixed;border:1px solid #d8d8d7;border-width:1px 0 0 1px}
table.tablesorter th,table.tablesorter td{vertical-align:middle;padding:5px;border:1px solid #d8d8d7;border-width:0 1px 1px 0;text-align:left;line-height:16px;text-align: center;}
table.tablesorter th{text-align:center;background-color:#e1edfd;color:#001e57;font-weight:bold;line-height:20px}
table.tablesorter thead tr .header{background-image:url(/images/table_themes/blue/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter thead tr .headerSortUp{background-image:url(/images/table_themes/blue/asc.gif)}
table.tablesorter thead tr .headerSortDown{background-image:url(/images/table_themes/blue/desc.gif)}
table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp{background-color:#8dbdd8}
table.tablesorter tbody tr.odd td{background-color:#F0F0F6}
table.tablesorter tbody td a:link{color:#003586}
table.tablesorter tbody td a:visited{color:#003586}
table.tablesorter tbody td a:hover{color:#003586}
table.tablesorter tbody td a:active{color:#003586}

/*tab卡1*/
.usual{color:#000;width:100%;}
.usual ul.tab{position:relative;}
.usual ul.tab li{list-style:none;float:left;line-height:15px;height:33px;border:1px solid #C3CED5;border-bottom:0px;width:100px;color: #000;background:#EFEFEF;}
.usual ul.tab a{display:block;text-align: center;color: #000; height: 33px;text-decoration:none;}
.usual ul.tab a:hover{color: #000;text-decoration:none;}
.usual ul.tab a span{position: relative;top: 9px;}
.usual ul.tab li.selected{background:#4472b4;}
.usual ul.tab li.selected div.tops{height: 3px;background-color: #4472b4;width: 102px;position:relative;left: -1px;top: -2px;}
.usual ul.tab li.selected span{color:#FFF}
.usual div{clear:left;font-size:12px;}
.usual .contentContainer{border: 1px solid #C3CED5;border-top: 2px solid #4472b4;  }
.usual .contentContainer .content{padding: 10px 10px 8px 10px;background: #FFF;background-color: white;width: 97%;}
.usual .contentContainer .contentWrap{width: 90%;margin: 15px auto;border: 1px solid #000;padding: 10px 10px 8px 10px;}
.NotDate{text-align:center;width:100%;margin:20px 0px;font-size:30px;color:#CCC;line-height:50px;display:block}/*没有数据的时候*/


/*数据表格1*/
.tableStyle{border:1px solid #DBDBDB;border-width:0 1px 1px 0;width:100%;height:auto;clear:both;position:relative;margin-bottom:10px}
.tabletit{background-color:#f2f2f2;text-align:left;font-size:12px;line-height:30px;height:25px;padding-left:10px}
.tabledata{text-align:left;font-size:12px;line-height:30px;height:30px;padding-left:10px;word-break: break-all; vertical-align:middle;}
.tableStyle td{border:1px solid #DBDBDB;border-width:1px 0 0 1px;}


/*数据表格2 外部带边框，内部白底无边框的表格*/
.infoFormTable { border: 1px solid #DBDBDB;width: 100%;}
.infoFormTable td {padding:5px; vertical-align:top}
.infoFormTable td a{color:Blue; text-decoration:none;}
.infoFormTable td a:hover {text-decoration: underline;}
.infoFormTable td.tit { text-align:right; width:20%;font-weight: bold;}
.infoFormTable td.tit1 { text-align:right; width:20%;}
.infoFormTable td.tmt { text-align:right; width:35%;font-weight: bold;}
.infoFormTable tr.odd td { background:#f4f7fe}

.w100 { width:100px;}
.w180 { width:180px;}
.w230 { width:230px;}
.w200 { width:200px;}
select.w230 { width:233px;}
select.w180 { width:183px;}
.w250 { width:250px;}
.w300 { width:300px;}
.wnh300 { width:300px;}
.w400 { width:400px;}
.w450 { width:450px;}
.w90p { width:90%}
.w96p { width:96%}
.h90 { height:90px;}
.tCenter { text-align:center;}
.content1 div { line-height: 30px; font-size: 14px; }
.table0 { line-height: 25px; }


.title{ font-size: 22px; font-weight: bolder; text-align:center; padding-bottom: 30px; padding-top: 20px; }
.table td{ border:1px solid #D8D8D7; border-width:1px 0px 0px 1px; padding-top: 6px; padding-right: 6px; padding-bottom: 6px; padding-left: 15px; }

input.text { border:1px  solid #ccc; border-bottom:1px solid #ccc; background:none; font-family: "宋体"; font-size: 14px; font-style: normal; }
.table { border-left:0px solid #D8D8D7;border-top:0px solid #D8D8D7;border-right:1px solid #D8D8D7;border-bottom:1px solid #D8D8D7; line-height:30px;/*d8d8d7;margin:10px 0;*/}
.content1 { width:50%; width:800px; no-repeat 87% bottom; margin-top: 15px; margin-right: auto; margin-bottom: 15px; margin-left: auto; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; }


/*数据表格3 简单展示数据的列表，头部灰色*/
.infoDataTable {width:100%;text-align: left;border-left:1px solid #d8d8d7;border-top:1px solid #d8d8d7; margin:10px 0;line-height: 20px;}
.infoDataTable td {background:#fff;border-bottom:1px solid #d8d8d7;border-right:1px solid #d8d8d7; padding:2px 5px;}
.infoDataTable td.tit {background-color: #EEE; text-align:left; vertical-align:middle;}
.infoDataTable tr.select td{background:#fffbdd}

/*数据表格5 简单展示数据的列表，没有表头，有边框，证书展示*/
.infoDataTable5 {width:100%;text-align: left;border-left:1px solid #000;border-top:1px solid #000; margin:10px auto;line-height: 20px;}
.infoDataTable5 td {border-bottom:1px solid #000;border-right:1px solid #000; padding:2px 5px;}
.infoDataTable5 td.tit {background-color: #EEE; text-align:left;}

.infoDataTB {width:100%;text-align: left;border-left:1px solid #d8d8d7;border-top:1px solid #d8d8d7; margin:10px 0;line-height: 20px;}
.infoDataTB td {background:#fff;border-bottom:1px solid #d8d8d7;border-right:1px solid #d8d8d7; padding:2px 5px;}
.infoDataTB td.tit {background-color: bisque; text-align:left;}
.infoDataTB tr.select td{background:#fffbdd}

/*数据表格4 简单展示数据的列表，没有表头，有边框*/
.infoTableBorder{width:100%;margin:0 auto;border:1px solid #d8d8d7;border-width:0 1px 1px 0;margin-bottom:10px}
.infoTableBorder td{vertical-align:middle;line-height:30px;padding-left:5px;border:1px solid #d8d8d7;border-width:1px 0 0 1px;text-align:center}
.infoTableBorder .tit{text-align:right;padding-right: 6px; }
.infoTableBorder tr.select td{background:#fffbdd}

/*数据表格5 数据查看的页面*/
.infoTableView{width:97%;margin:20px auto;border:1px solid #d8d8d7;border-width:0 1px 1px 0;margin-bottom:10px}
.infoTableView td{vertical-align:middle;line-height:30px;padding-left:5px;border:1px solid #d8d8d7;border-width:1px 0 0 1px;text-align:left}
.infoTableView .tit{font-weight:bold;text-align:right;width:120px;padding-right: 5px;}
.infoTableView tr.select td{background:#fffbdd}
.btnContainer{margin:10px auto; width:200px; height:25px}
.btnContainer td  {border-width:0px;text-align: center;}
.btnContainer td input{margin-right:12px;}

/*数据表格6  jbox中的 简单展示数据的列表，没有表头，有边框*/
.JboxinfoTableBorder{width:100%;margin:0 auto;border:1px solid #d8d8d7;border-width:0 1px 1px 0;margin-bottom:10px}
.JboxinfoTableBorder td{vertical-align:middle;line-height:30px;padding-left:5px;border:1px solid #d8d8d7;border-width:1px 0 0 1px;text-align:center}
.JboxinfoTableBorder .tit{text-align:right;width:130px}
.JboxinfoTableBorder tr.select td{background:#fffbdd}

/*数据表格7  首页展示表格*/
.mainPageTable{width:100%;padding-left: 16px;}
.mainPageTable td{text-align: center;font-size: 12px;line-height: 30px;}
.mainPageTable tr.tbTitle td{font-weight: bold;color: #555;line-height: 1.2em;}
.mainPageTable td.pre{ text-align: left;}
.mainPageTable td.pre a{padding-left: 10px;background: url("/images/image/xtb02.png") no-repeat left center;}


/*数据表格8 简单展示数据的列表，没有表头，没有边框*/
.infoTableNoBorder{width:100%;margin:0 auto;border:0px solid #d8d8d7;border-width:0 0 0 0;margin-bottom:10px}
.infoTableNoBorder td{vertical-align:middle;line-height:30px;padding-left:5px;border:0px solid #d8d8d7;border-width:0 0 0 0;text-align:center}
.infoTableNoBorder .tit{text-align:right;padding-right: 6px; }
.infoTableNoBorder tr.select td{background:#fffbdd}

/*高级查询的表格*/
.DetailSearchTable {margin-top:7px}
.DetailSearchTable td{padding:2px 5px 5px 5px}

/*上传文件表格的样式*/
table.tbfileupload{width:98%;margin:0px auto;border-width:0px;border-collapse:collapse;}
.tbfileupload td{border-width:0px!important;text-align:left;vertical-align:middle; padding:5px 0px 0px 5px !important;}
.tbfileupload .uploadify{margin-bottom: 0em !important;}
.tbfileupload #UploadFileList{padding:0;list-style:none;margin:0}
.tbfileupload #UploadFileList .file-invalid{cursor:pointer;color:#514721;padding-left:48px;line-height:24px;background:url(/images/uploadify/error.png) no-repeat 24px 5px;behavior:url('/images/uploadify/iepngfix.htc');margin-bottom:1px}
.tbfileupload #UploadFileList .file-invalid span{background-color:#fff6bf;padding:1px}
.tbfileupload #UploadFileList .file{line-height:2em;padding-left:22px;background:url(/images/uploadify/attach.png) no-repeat 1px 50%;vertical-align:middle;behavior:url('/images/uploadify/iepngfix.htc')}
.tbfileupload #UploadFileList .file span,#demo-list .file a{padding:0 4px}
.tbfileupload #UploadFileList .file .file-size{color:#666}
.tbfileupload #UploadFileList .file .file-error{color:#8a1f11}


.popBox1 {z-index:99;width:602px;height:700px;left:50%;/*FF IE7*/top: 50%;/*FF IE7*/margin-left:-351px!important;/*FF IE7 该值为本身宽的一半*/margin-top:-280px!important;/*FF IE7 该值为本身高的一半*/margin-top:0px;position:fixed!important;/*FF IE7*/position:absolute;/*IE6*/_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight- this.offsetHeight)/2 :/*IE6*/document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/}

.pSend{ margin-top:30px; margin-left:20px;}
.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
	background:#133081;
	width:900px;
	height:470px;
}


.TabbedPanelsTabGroup {
	display:block;
	margin: 0px;
	padding: 0px;
	background:#133081;
	height:20px;
}

.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.8em sans-serif;
	list-style: none;
   color:#FFF;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	margin-right:10px;
}
.TabbedPanelsTabFocus {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.8em sans-serif;
	background:url(../images/b1.png) no-repeat;
	border-bottom: 1px solid #EEE;
	list-style: none;
   
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	margin-right:10px;
}


.TabbedPanelsTab3{
	padding: 5px 10px 0px 10px;
	margin: -5px 3px 5px 281px;
	font: bold 0.8em sans-serif;
	list-style: none;
	color:#FFF;
	text-align:right;
	}
.TabbedPanelsTab3 a:link,.TabbedPanelsTab3  a:visited{
	text-decoration:none;
	color:white;
	}
/* This selector is an example of how to change the appearnce of a tab button
 * container as the mouse enters it. The class "TabbedPanelsTabHover" is
 * programatically added and removed from the tab element as the mouse enters
 * and exits the container.
 */
.TabbedPanelsTabHover {
	background-color: #fff;
}


.TabbedPanelsTabSelected {
	background:url(../images/b1.png) no-repeat;
	border-bottom: 1px solid #EEE;
}

/* This selector is an example of how to make a link inside of a tab button
 * look like normal text. Users may want to use links inside of a tab button
 * so that when it gets focus, the text *inside* the tab button gets a focus
 * ring around it, instead of the focus ring around the entire tab.
 */
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}


.TabbedPanelsContentGroup {
	clear: both;
	border:1px #339 solid;
	background-color:#E7EDFB;
	height:460px;
}


.TabbedPanelsContent {
	padding: 10px;
}
/* This selector is an example of how to change the appearnce of the currently
 * active container panel. The class "TabbedPanelsContentVisible" is
 * programatically added and removed from the content element as the panel
 * is activated/deactivated.
 */
.TabbedPanelsContentVisible {
}

/* Vertical Tabbed Panels
 *
 * The following rules override some of the default rules above so that the
 * TabbedPanels widget renders with its tab buttons along the left side of
 * the currently active content panel.
 *
 * With the rules defined below, the only change that will have to be made
 * to switch a horizontal tabbed panels widget to a vertical tabbed panels
 * widget, is to use the "VTabbedPanels" class on the top-level widget
 * container element, instead of "TabbedPanels".
 */

/* This selector floats the TabGroup so that the tab buttons it contains
 * render to the left of the active content panel. A border is drawn around
 * the group container to make it look like a list container.
 */
.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}

/* This selector floats the content panels for the widget so that they
 * render to the right of the tabbed buttons.
 */
.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}


